.clients {
  &__title {
    color: #222;
    font-family: Nunito Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
    text-transform: uppercase;
    margin-top: 80px;
  }
  &__wrapper {
    display: flex;
    height: 100%;
    margin-top: 60px;
    background-image: url(/src/images/blockarea.webp);
  }
  &__card {
    display: flex;
    flex-direction: column;
    padding: 32px;
  }
}
