.Articles__card {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.card__img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}
.card__content {
  display: flex;
  width: 376px;
  flex-direction: column;
}

.card__img {
  width: 376px;
  height: 162px;
}

.card__text {
  display: flex;
  width: 376px;
  padding: 10px;
  flex-direction: column;
  margin-top: 10px;
}
.card__date {
  align-self: stretch;
  color: #8f8f8f;
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.card__title {
  color: #414141;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-top: 10px;
}
.card__article {
  color: #414141;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 10px;
}

.card__btn {
  display: flex;
  width: 150px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: #70c05b;
  margin-top: 10px;
}
