.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

.clients {
  width: 100%;
  height: 100%;
  background-image: url(/src/images/blockarea.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
